@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  /* font-family: var(--font-space-grotesk); */
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  @apply font-sans bg-gray-300;
}

/* .shadow-lg {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
} */

p a,
p a:visited {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
.h3 {
  font-family: var(--font-space-grotesk);
}
.h3 {
  /* font-family: "Space Grotesk"; */
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

/* Buttons */
.btn {
  @apply flex flex-row whitespace-nowrap py-3 px-4 bg-gray-900 rounded-xl text-base leading-6 font-semibold text-white shadow-sm hover:bg-gray-800;
}

.btn-secondary {
  @apply flex flex-row py-3 px-4 border border-gray-300 rounded-xl text-base leading-6 font-semibold text-gray-700 shadow-sm hover:text-gray-900 hover:border-gray-400 hover:bg-gray-50;
}

/* Forms */

.form-group {
  @apply flex flex-col gap-2;
}

.form-group-row {
  @apply flex flex-row gap-3;
}

.form-label {
  @apply block font-semibold text-base text-gray-700;
}

.form-input {
  @apply block w-full border border-gray-300 py-3 px-4 rounded-xl placeholder:text-gray-500 text-gray-700;
}

.form-group__caption p {
  @apply text-sm text-gray-700;
}
